@model ForgotPasswordVM

@{
    ViewBag.Title = "Forgot Password";
}

@section head{
    <link href="~/Content/LoginRegister.css" rel="stylesheet" />
}

<form action="" method="post" id="loginForm" class="form-control">
    <div class="form-group">
        <h5>@Html.Label("email", "Email Address")</h5>
        @Html.TextBox("email", null, new { autofocus = "", @class = "form-control", id = "email", required = "" })
    </div>

    <!-- Submit Button -->
    <input type="submit" name="loginBtn" value="Submit" id="loginBtn" />
</form>