body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.space {
    margin-top: 1.5cm;
    margin-bottom: 1cm;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .centered p {
        text-align: justify;
        color: black;
        font-size: 18px;
    }

.banner-item {
    min-height: 400px;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 1cm;
    color: black;
    font-size: 45px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.label-select {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

    .label-select hover {
        background-color: #f1f1f1;
    }

input.donate-submit {
    display: flex;
    float: none;
    margin-left: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    padding: 0 22px;
    border: 2px solid #3E3E3E;
    transition-duration: 0.25s;
}

    input.donate-submit:hover {
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 3px 4px 0 rgba(0,0,0,0.19);
        cursor: pointer;
        background-color: #8F9AA0;
        color: white;
    }

input.button-normal {
    margin-top: 20px;
    margin-left: 470px;
    display: flex;
    float: right;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    padding: 0 22px;
    border: 2px solid #3E3E3E;
    transition-duration: 0.25s;
}

    input.button-normal:hover {
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 3px 4px 0 rgba(0,0,0,0.19);
        cursor: pointer;
        background-color: #8F9AA0;
        color: white;
    }

.card-body p {
    float: right;
    font-size: 18px;
}

.card-body h4 {
    font-size: 16.5px;
}
