#registerForm {
    width: 55%;
    margin: 0 auto;
    border: 0;
}

#loginForm {
    width: 82%;
    margin: 0 auto;
    border: 0;
}

#userName {
    width: 100%;
}

input[type="email"], input[type="text"], input[type="password"] {
    max-width: 100%;
    margin-top: -15px;
    border: 0;
    border-radius: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #C0C0C0;
}

    input[type="email"]:hover, input[type="text"]:hover, input[type="password"]:hover {
        cursor: text;
    }

input#registerBtn, input#loginBtn {
    display: flex;
    margin: auto;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    padding: 0 22px;
    border: 2px solid #3E3E3E;
}

input#registerBtn:hover, input#loginBtn:hover {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 3px 4px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

#userName-container {
    display: inline-block;
    width: 100%;
}

#lastName-container {
    width: 47.5%;
    float: right;
}

#firstName-container {
    width: 47.5%;
    float: left;
}

.form-control:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: black !important;
}

#loginForm>a {
    font-size: 13px;
    color: cornflowerblue !important;
}

#editUserBtn {
    text-align: center;
}

.edit-btn {
    height: 40px;
    width: 180px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    border: 2px solid #3E3E3E;
    font-size: 16px;
    color: #3E3E3E;
    padding-top: 5px;
    transition-duration: 0.4s;
}

    .edit-btn:hover {
        color: #3E3E3E;
    }

.changeBtn {
    height: 35px;
    width: 75px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    font-size: 16px;
    color: black;
    transition-duration: 0.4s;
}

    .changeBtn:hover {
        background-color: black;
        border: 2px solid black;
        color: white;
    }

.reset-btn {
    height: 35px;
    width: 75px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    border: 2px solid darkred;
    font-size: 16px;
    color: darkred;
    transition-duration: 0.4s;
}

    .reset-btn:hover {
        background-color: darkred;
        border: 2px solid darkred;
        color: white;
    }