.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 30px;
}
    
label {
    cursor: pointer;
}

input.donate-submit {
    display: flex;
    float: right;
    margin-left: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    padding: 0 22px;
    border: 2px solid #3E3E3E;
    transition-duration: 0.25s;
}

    input.donate-submit:hover {
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 3px 4px 0 rgba(0,0,0,0.19);
        cursor: pointer;
        background-color: #8F9AA0;
        color: white;
    }

.error-msg {
    color: red;
}

h5 {
    margin-top: 15px;
}