@model IEnumerable<Merchandise>
@{
    ViewBag.Title = "Donation";
}

@section head{
    <link href="~/Content/donation.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <h2 class="section-title text-center">
            <b>WHY DONATE TO US?</b>
        </h2>
        <p>
            Your donation creates hope and opportunity within our community by empowering us to minister to people’s physical, social and spiritual needs.
            When a child is born into an impoverished family, they enter the first phase of a long and challenging cycle that can run for generations. When a
            family lives in poverty, they usually have very limited or no access to resources. But you are able to change that by contributing!
        </p>
    </div>
</div>

<img src="~/Images/Background/poverty-eradication.jpg" class="mt-5" style="display:block; margin-left:auto; margin-right:auto; width:70%;" />
<p><i>Image of a child facing poverty in Mumbai, India.</i></p>

<div class="row">
    <div class="col-lg-8 mx-auto mt-5">
        <h2 class="section-title text-center" id="donate">
            <b>TAKE PART!</b>
        </h2>
        <p>
            You can help us to decrease poverty issues by donating to our charity that focuses on helping them. Funds that have been raised will 100% go towards
            the people that are struggling with poverty and we will provide them with basic needs to help them survive and ease their struggles! You are able to
            donate a minimum amount of RM1! You may also support us by buying our merchandise and the funds will also go directly to those in need.
        </p>
    </div>
</div>

<h2 class="mt-5"><b>DONATE</b></h2>
<div class="card" style="width: 30rem; margin-bottom:100px">
    <img src="~/Images/Logos/donate icon.png" class="card-img-top">
    <div class="card-body">
        <!-- For index page purpose -->
        <span id="merchandise"></span>
        <form action="~/Home/DonationPayment">
            <input type="submit" value="Click Here to Donate" class="donate-submit" />
        </form>
    </div>
</div>

<div class="container">

    <h2><b>MERCHANDISE</b></h2>
    <p>*All of the funds will directly contribute to the fundraising event.</p>

    <div class="row">

        @foreach (var m in Model) //will display data from Admin Merchandise
        {
            <div class="col-sm-6 mt-4">
                <div class="card">
                    <img src="~/Images/Uploads/Merchandise/@m.Image" style="height:500px"/>
                    <div class="card-body">
                        <p>RM @m.Price.00</p>
                        <h4 class="card-title">@m.Name</h4>
                        <form method="get" action="~/Home/MerchandisePayment?Id=@m.Id">
                            <input type="submit" value="Purchase" id="submitBtn" class="button-normal" data-get="/Home/MerchandisePayment?Id=@m.Id&size=size" /> @*After submit, will pass this data to Payment*@
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section foot{

}