@{
    ViewBag.Title = "Donation";
}

@section head{
    <link href="~/Content/donation.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <h2 class="section-title text-center">
            <b>WHY DONATE TO US?</b>
        </h2>
        <p>
            Your donation creates hope and opportunity within our community by empowering us to minister to people’s physical, social and spiritual needs.
            When a child is born into an impoverished family, they enter the first phase of a long and challenging cycle that can run for generations. When a
            family lives in poverty, they usually have very limited or no access to resources. But you are able to change that by contributing!
        </p>
    </div>
</div>

<img src="~/Images/Background/poverty-eradication.jpg" class="mt-5" style="display:block; margin-left:auto; margin-right:auto; width:70%;" />
<p><i>Image of a child facing poverty in Mumbai, India.</i></p>

<div class="row">
    <div class="col-lg-8 mx-auto mt-5">
        <h2 class="section-title text-center" id="donate">
            <b>TAKE PART!</b>
        </h2>
        <p>
            You can help us to decrease poverty issues by donating to our charity that focuses on helping them. Funds that have been raised will 100% go towards
            the people that are struggling with poverty and we will provide them with basic needs to help them survive and ease their struggles! You are able to
            donate a fixed amount which will be RM1, RM5, RM10, RM20, RM50, RM100, or a custom amount! You may also support us by buying our merchandise and the funds
            will also go directly to those in need.
        </p>
    </div>
</div>

<!--DONATE BUTTON WILL BE DISABLED IF USER DID NOT CHOOSE OR ENTER AMOUNT-->
<h2 class="mt-5"><b>DONATE</b></h2>
<div class="card" style="width: 30rem; margin-bottom:100px">
    <img src="~/Images/Logos/donate icon.png" class="card-img-top">
    <div class="card-body">
        <form method="POST" action="~/Home/Payment">
            <h5 class="card-title">Select the amount:</h5>
            <input type="radio" id="donateAmount1" name="donateAmount" value="1">
            <label for="donateAmount1">RM 1</label><br>
            <input type="radio" id="donateAmount2" name="donateAmount" value="5">
            <label for="donateAmount2">RM 5</label><br>
            <input type="radio" id="donateAmount3" name="donateAmount" value="10">
            <label for="donateAmount3">RM 10</label><br>
            <input type="radio" id="donateAmount4" name="donateAmount" value="20">
            <label for="donateAmount4">RM 20</label><br>
            <input type="radio" id="donateAmount5" name="donateAmount" value="50">
            <label for="donateAmount5">RM 50</label><br>
            <input type="radio" id="donateAmount6" name="donateAmount" value="100">
            <label for="donateAmount6">RM 100</label><br>

            <h5 class="card-title">Enter custom amount (if any):</h5>
            <input type="number" class="form-control" id="amount" name="amount" placeholder="Numbers only" min="1" max="50000" value=""><br />
            
            <!-- For index page purpose -->
            <span id="merchandise"></span>

            <input type="submit" value="Donate" class="donate-submit" />
        </form>
    </div>
</div>

<!--PURCHASE BUTTONS WILL BE DISABLED IF USER DID NOT CHOOSE SIZE-->
<div class="container">

    <h2><b>MERCHANDISE</b></h2>
    <p>*All of the funds will directly contribute to the fundraising event.</p>

    <div class="row">
        <div class="col-sm-6 mt-4">
            <div class="card">
                <img src="~/Images/Merchandise/shirt1.jpg" />
                <div class="card-body">
                    <p>RM 50.00</p>
                    <h4 class="card-title">Stop Poverty V1 T-Shirt</h4>
                    <h5>Select a size:</h5>
                    <form method="POST" action="~/Home/Payment">
                        <input type="radio" id="size1" name="size1" value="S">
                        <label for="S">S</label><br>
                        <input type="radio" id="size2" name="size2" value="M">
                        <label for="M">M</label><br>
                        <input type="radio" id="size3" name="size3" value="L">
                        <label for="L">L</label><br>
                        <input type="radio" id="size4" name="size4" value="XL">
                        <label for="XL">XL</label><br>

                        <input type="submit" value="Purchase" class="donate-submit" />
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mt-4">
            <div class="card">
                <img src="~/Images/Merchandise/shirt2.jpg" />
                <div class="card-body">
                    <p>RM 50.00</p>
                    <h4 class="card-title">Stop Poverty V2 T-Shirt</h4>
                    <h5>Select a size:</h5>
                    <form method="POST" action="~/Home/Payment">
                        <input type="radio" id="size1" name="size1" value="S">
                        <label for="S">S</label><br>
                        <input type="radio" id="size2" name="size2" value="M">
                        <label for="M">M</label><br>
                        <input type="radio" id="size3" name="size3" value="L">
                        <label for="L">L</label><br>
                        <input type="radio" id="size4" name="size4" value="XL">
                        <label for="XL">XL</label><br>

                        <input type="submit" value="Purchase" class="donate-submit" />
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mt-4">
            <div class="card">
                <img src="~/Images/Merchandise/shirt3.jpg" />
                <div class="card-body">
                    <p>RM 50.00</p>
                    <h4 class="card-title">Fight Poverty Not The Poor T-Shirt</h4>
                    <h5>Select a size:</h5>
                    <form method="POST" action="~/Home/Payment">
                        <input type="radio" id="size1" name="size1" value="S">
                        <label for="S">S</label><br>
                        <input type="radio" id="size2" name="size2" value="M">
                        <label for="M">M</label><br>
                        <input type="radio" id="size3" name="size3" value="L">
                        <label for="L">L</label><br>
                        <input type="radio" id="size4" name="size4" value="XL">
                        <label for="XL">XL</label><br>

                        <input type="submit" value="Purchase" class="donate-submit" />
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mt-4">
            <div class="card">
                <img src="~/Images/Merchandise/shirt4.jpg" />
                <div class="card-body">
                    <p>RM 50.00</p>
                    <h4 class="card-title">Break The Poverty Machine T-Shirt</h4>
                    <h5>Select a size:</h5>
                    <form method="POST" action="~/Home/Payment">
                        <input type="radio" id="size1" name="size1" value="S">
                        <label for="S">S</label><br>
                        <input type="radio" id="size2" name="size2" value="M">
                        <label for="M">M</label><br>
                        <input type="radio" id="size3" name="size3" value="L">
                        <label for="L">L</label><br>
                        <input type="radio" id="size4" name="size4" value="XL">
                        <label for="XL">XL</label><br>

                        <input type="submit" value="Purchase" class="donate-submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section foot{
    <script>

    </script>
}