
@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <h2 class="section-title text-center">
            <span>Read our</span>
            Event
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="post">
            <div class="post-media post-image">
                <a href="#"><img src="~/Images/Uploads/Event/fundtasia-charity-run.jpg" class="img-fluid" /></a>
            </div>
            <div class="post-body">
                <div class="post-meta">
                    <span class="post-author">BY William</span>
                    <div class="post-meta-date">
                        <span class="day">14</span>
                        <span class="month">November</span>
                        <span class="year">2021</span>
                    </div>
                </div>
                <div class="entry-header">
                    <div class="entry-title">
                        <h2>
                            <a href="#">Title display here</a>
                        </h2>
                    </div>
                </div>
                <div class="entry-content">
                    <p>Content display here</p>
                </div>
                <div class="post-footer">
                    <a href="" class="btn-link">Read More <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="post">
            <div class="post-media post-image">
                <a href="#"><img src="~/Images/Uploads/Event/fundtasia-charity-run.jpg" class="img-fluid" /></a>
            </div>
            <div class="post-body">
                <div class="post-meta">
                    <span class="post-author">BY William</span>
                    <div class="post-meta-date">
                        <span class="day">14</span>
                        <span class="month">November</span>
                        <span class="year">2021</span>
                    </div>
                </div>
                <div class="entry-header">
                    <div class="entry-title">
                        <h2>
                            <a href="#">Title display here</a>
                        </h2>
                    </div>
                </div>
                <div class="entry-content">
                    <p>Content display here</p>
                </div>
                <div class="post-footer">
                    <a href="" class="btn-link">Read More <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="post">
            <div class="post-media post-image">
                <a href="#"><img src="~/Images/Uploads/Event/fundtasia-charity-run.jpg" class="img-fluid" /></a>
            </div>
            <div class="post-body">
                <div class="post-meta">
                    <span class="post-author">BY William</span>
                    <div class="post-meta-date">
                        <span class="day">14</span>
                        <span class="month">November</span>
                        <span class="year">2021</span>
                    </div>
                </div>
                <div class="entry-header">
                    <div class="entry-title">
                        <h2>
                            <a href="#">Title display here</a>
                        </h2>
                    </div>
                </div>
                <div class="entry-content">
                    <p>Content display here</p>
                </div>
                <div class="post-footer">
                    <a href="" class="btn-link">Read More <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="post">
            <div class="post-media post-image">
                <a href="#"><img src="~/Images/Uploads/Event/fundtasia-charity-run.jpg" class="img-fluid" /></a>
            </div>
            <div class="post-body">
                <div class="post-meta">
                    <span class="post-author">BY William</span>
                    <div class="post-meta-date">
                        <span class="day">14</span>
                        <span class="month">November</span>
                        <span class="year">2021</span>
                    </div>
                </div>
                <div class="entry-header">
                    <div class="entry-title">
                        <h2>
                            <a href="#">Title display here</a>
                        </h2>
                    </div>
                </div>
                <div class="entry-content">
                    <p>Content display here</p>
                </div>
                <div class="post-footer">
                    <a href="" class="btn-link">Read More <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="post">
            <div class="post-media post-image">
                <a href="#"><img src="~/Images/Uploads/Event/fundtasia-charity-run.jpg" class="img-fluid" /></a>
            </div>
            <div class="post-body">
                <div class="post-meta">
                    <span class="post-author">BY William</span>
                    <div class="post-meta-date">
                        <span class="day">14</span>
                        <span class="month">November</span>
                        <span class="year">2021</span>
                    </div>
                </div>
                <div class="entry-header">
                    <div class="entry-title">
                        <h2>
                            <a href="#">Title display here</a>
                        </h2>
                    </div>
                </div>
                <div class="entry-content">
                    <p>Content display here</p>
                </div>
                <div class="post-footer">
                    <a href="" class="btn-link">Read More <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>