
@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <h2 class="section-title text-center">
            <span>Read our</span>
            Event
        </h2>
    </div>
</div>

<div class="row">

</div>