
@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>

<div class="container">
    <div class="row">
        <div class="col-lg-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="300ms">
            <div class="intro-left-content">
                <h2 class="column-title">
                    <span>Why Join Fundtasia ?</span>
                    Where the poor get help, the hurting are comforted, and the desperate find hope.
                </h2>
                <p>
                    Participate our own events to learn more ！
                    Learn about our organisation ongoing events helping for poor victims.
                </p>
                <a href="@Url.Action("SignUp", "Home")" class="btn">Join Us</a>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
                    <a href="@Url.Action("Event", "Home")">
                        <div class="single-intro-text mb-30">
                            <h3 class="ts-title">Charity Events</h3>
                            <p>
                                Spread our love and kindness.
                                Our main purpose to help more people.
                                We provide community support and financial protection.
                            </p>
                            <span class="count-number">01</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                    <a href="~/Home/Donation#donate">
                        <div class="single-intro-text mb-30">
                            <h3 class="ts-title">Donatation support</h3>
                            <p>
                                Hard to find time participate the events?
                                Support Fundtasia by money donation.
                                Or buying our merchant to support us !
                            </p>
                            <span class="count-number">02</span>

                        </div>
                    </a>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="600ms">
                    <a href="~/Home/Donation#merchandise">
                        <div class="single-intro-text mb-30">
                            <h3 class="ts-title">Merchandise</h3>
                            <p>
                                Interested for our merchant in clothes?
                                Buy our merchant to support us!
                                Include various choice of design selections.
                                Shop now for more details.
                            </p>
                            <span class="count-number">03</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms">
                    <div class="single-intro-text mb-30">
                        <h3 class="ts-title">Make a difference</h3>
                        <p>
                            Funtasia is a charity that journeys by provide food aid, community support,
                            distribute financial protection, and run educational programs.
                        </p>
                        <span class="count-number">04</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>