@using Fundtasia
@model dynamic
@{
    ViewBag.Title = "Merchandise Payment";
}

<!DOCTYPE html>
<link href="~/Content/payment.css" rel="stylesheet" />

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Merchandise Payment</title>
</head>

<body>
    <form method="post" action="~/Home/Receipt">
        <div class="card" style="width: 28rem;">
            <div class="card-body">
                <h2 class="card-title">💳 Card Details 💳</h2>
                <h5>Name : </h5>
                <input type="text" class="form-control" id="" placeholder="Name on Card"><br />
                <h5>Card Number : </h5>
                <input type="text" class="form-control" id="" placeholder="0000 0000 0000 0000"><br />
                <h5>Expiry Date : </h5>
                <input type="text" class="form-control" id="" placeholder="(MM/YY)"><br />
                <h5>CVV : </h5>
                <input type="text" class="form-control" id="" placeholder="CVV"><br />
            </div>
        </div>

        <div class="card" style="width: 28rem;">
            <div class="card-body">
                <h2 class="card-title">📫 Billing Address 📫</h2>
                <h5>Full Name : </h5>
                <input type="text" class="form-control" id="" placeholder="Full Name Here"><br />
                <h5>Street Address : </h5>
                <input type="text" class="form-control" id="" placeholder="Street Address"><br />
                <h5>State : </h5>
                <input type="text" class="form-control" id="" placeholder="State"><br />
                <h5>City : </h5>
                <input type="text" class="form-control" id="" placeholder="City"><br />
                <h5>Postal Code : </h5>
                <input type="text" class="form-control" id="" placeholder="00000"><br />
            </div>
        </div>

        <div class="card" style="width: 28rem;">
            <div class="card-body">
                <h2 class="card-title">Verification</h2>
                <h5>reCAPTCHA </h5>
                <p>reCAPTCHA here</p>
                <input type="submit" value="Proceed" class="donate-submit" />
            </div>
        </div>
    </form>
</body>
</html>
