@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payment</title>
</head>

<body>
    <br />
    <br />
    <br />
    <a href="~/Home/Receipt">To receipt page!</a>
</body>
</html>
