
@{
    ViewBag.Title = "Dashboard";
}

@section head{
    <link href="~/Content/eventAdmin.css" rel="stylesheet" />
    <link href="~/Content/donationGraph.css" rel="stylesheet" />
    <link href="plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet" href="plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
}

<h2>Dashboard</h2>

<div class="container-fluid">

    <div class="row justify-content-center">
        <!--Number Count Display-->
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h2 class="box-title">Total Event Created</h2>
                <div class="text-right">
                    <h3 class="counter text-success fw-bold">@ViewBag.TotalEventCreated</h3>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total Event Views</h3>
                <div class="text-right">
                    <h3 class="counter text-warning fw-bold">@ViewBag.TotalEventViews</h3>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total Donation Earned</h3>
                <div class="text-right">
                    <h3 class="counter text-info fw-bold">RM @ViewBag.TotalDonationEarned.ToString("F")</h3>
                </div>
            </div>
        </div>

        <!--Graph-->
        <div class="row">
            <!-- Donation & Merchandise Graph -->
            <div class="col-lg-6 col-md-12">
                <div class="white-box">
                    <div id="DM_Chart" style="width: 600px; height: 400px"></div>
                    <a href="#" id="dmsReload" class="button-normal btn" hidden="">Reload</a>
                    <a href="#" id="dmsToggle" class="button-normal btn">Toggle Orientation</a>
                    <div id="ct-visits">
                        <div class="chartist-tooltip" style="top: -17px; left: -12px;">
                            <span class="chartist-tooltip-value">6</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- User Pie Chart -->
            <div class="col-lg-6 col-md-12">
                <div class="white-box">
                    <div style="width: 600px; height: 400px; text-align: left;">
                        <div id="userPieChart" style="width: 80%; height: 80%"></div>
                        <a href="#" id="userReload" class="button-normal btn" hidden="">Reload</a>
                    </div>
                </div>
            </div>

            <!-- Merchantdise Pie Chart -->
            <div class="col-lg-6 col-md-12">
                <div class="white-box">
                    <div style="width: 600px; height: 400px; text-align: left;">
                        <div id="merchantdisePieChart" style="width: 80%; height: 80%"></div>
                        <a href="#" id="merchantReload" class="button-normal btn" hidden="">Reload</a>
                    </div>
                </div>
            </div>
        </div>

        <!--Covid-19 Tracker-->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 class="mb-3">
                Covid-19 cases in <span id="country"></span>
            </h2>
            <div class="mt-3 board">
                <div class="row">
                    <div class="col-2">
                        <div class="card a">
                            <h2>Active Cases</h2>
                            <br /><br />
                            <h4 id="active"></h4>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card ca">
                            <h2>Total Cases</h2>
                            <br /><br />
                            <h4 id="cases"></h4>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card cr">
                            <h2>Critical Cases</h2>
                            <br /><br />
                            <h4 id="critical"></h4>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card d">
                            <h2>Total Deaths</h2>
                            <br /><br />
                            <h4 id="death"></h4>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card r">
                            <h2>Recovered Cases</h2>
                            <br /><br />
                            <h4 id="recovered"></h4>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card t">
                            <h2>Testes Done</h2>
                            <br /><br />
                            <h4 id="tests"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Script for Graphs -->
@section foot {
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="plugins/bower_components/chartist/dist/chartist.min.js"></script>
    <script src="plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="js/pages/dashboards/dashboard1.js"></script>

    <script>
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(usersChart);
        google.charts.setOnLoadCallback(dmsChart);
        google.charts.setOnLoadCallback(merchantdiseChart);

        // Users Pie Chart
        let udt, uopt, ucht;

        function usersChart() {
            udt = new google.visualization.DataTable();
            udt.addColumn('string', 'Role');
            udt.addColumn('number', 'Count');

            uopt = {
                title: 'Overall Users Amount by Roles',
                fontName: 'Calibri',
                fontSize: 16,
                titleTextStyle: { fontSize: 20 },
                chartArea: {
                    width: '90%',
                    height: '90%',
                    top: 50,
                    left: 100
                },
                is3D: true,
                color: ['#FF4AE6', '#13E5F2', '#FDFA1E']
            };

            ucht = new google.visualization.PieChart($('#userPieChart')[0]);

            $('#userReload').click();
        }

        $('#userReload').click(e => {
            e.preventDefault();
            let url = '/Admin/UsersData';
            let param = {};
            $.getJSON(url, param, json => {
                udt.removeRows(0, udt.getNumberOfRows());
                udt.addRows(json);
                ucht.draw(udt, uopt);
            });
        });
        // End of User Pie Chart

        // Donation & Merchandise Graph
        let dt, opt, cht;

        function dmsChart() {
            dt = new google.visualization.DataTable();

            dt.addColumn('string', 'Donation');
            dt.addColumn('number', 'Count');

            let style = { bold: true, italic: false, fontSize: 20, color: '#9D2020' };

            opt = {
                title: 'Number of Donations Made',
                fontName: 'calibri',
                fontSize: 14,
                titleTextStyle: { fontSize: 20 },
                chartArea: {
                    width: '95%',
                    height: '70%',
                    top: 60,
                    left: 80
                },

                legend: 'none',
                vAxis: {
                    title: 'Number of Donations',
                    titleTextStyle: style,
                    minValue: 0,
                },
                hAxis: {
                    title: 'Event ID',
                    titleTextStyle: style,
                },
                animation: {
                    duration: 650,
                    startup: true
                },
                colors: ['#3aa7d6'],
                orientation: 'horizontal'
            };

            cht = new google.visualization.ColumnChart($('#DM_Chart')[0]);

            $('#dmsReload').click();
        }

        $('#dmsReload').click(e => {
            e.preventDefault();

            let url = '/Admin/DashboardDonation';
            let param = {};

            $.getJSON(url, param, json => {
                dt.removeRows(0, dt.getNumberOfRows());
                dt.addRows(json);
                cht.draw(dt, opt);
            });
        });

        $('#dmsToggle').click(e => {
            e.preventDefault();

            opt.orientation = opt.orientation == 'horizontal' ? 'vertical' : 'horizontal';

            [opt.vAxis, opt.hAxis] = [opt.hAxis, opt.vAxis];

            cht.draw(dt, opt);
        });
        // End of Donation & Merchandise Graph

        //Mechandise Pie Chart
        let mdt, mopt, mcht;

        function merchantdiseChart() {
            mdt = new google.visualization.DataTable();
            mdt.addColumn('string', 'Status');
            mdt.addColumn('number', 'Count');

            mopt = {
                title: 'Merchantdise Status',
                fontName: 'Calibri',
                fontSize: 16,
                titleTextStyle: { fontSize: 20 },
                chartArea: {
                    width: '90%',
                    height: '90%',
                    top: 50,
                    left: 100
                },
                piehole:0.2
            }

            mcht = new google.visualization.PieChart($('#merchantdisePieChart')[0]);

            $('#merchantReload').click();
        }

        $('#merchantReload').click(e => {
            e.preventDefault();
            let url = '/Admin/MerchandiseData';
            let param = {};
            $.getJSON(url, param, json => {
                mdt.removeRows(0, mdt.getNumberOfRows());
                mdt.addRows(json);
                mcht.draw(mdt, mopt);
            });
        });
        //End of merchantdise pie chart

        //Covid-19 API
        fetch('https://corona.lmao.ninja/v2/countries/Malaysia')
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                console.log(data);
                document.getElementById("country").innerHTML = data.country;
                document.getElementById("active").innerHTML = data.active.toLocaleString();
                document.getElementById("cases").innerHTML = data.cases.toLocaleString();
                document.getElementById("critical").innerHTML = data.critical.toLocaleString();
                document.getElementById("death").innerHTML = data.deaths.toLocaleString();
                document.getElementById("recovered").innerHTML = data.recovered.toLocaleString();
                document.getElementById("tests").innerHTML = data.tests.toLocaleString();
            });
    </script>
}