
@{
    ViewBag.Title = "Dashboard";
}

<link href="~/Content/eventAdmin.css" rel="stylesheet" />

<head>
    <link href="plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet" href="plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>

<h2>Dashboard</h2>

<div class="container-fluid">
    <!--Number Count Display-->
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total Visitors</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash">
                            <canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto"><span class="counter text-success">100</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total Page Views</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash2">
                            <canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto"><span class="counter text-purple">200</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">New Visitor</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash3">
                            <canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto">
                        <span class="counter text-info">300</span>
                    </li>
                </ul>
            </div>
        </div>

        <!--Graph-->
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="white-box">
                    <h3 class="box-title">Donations and Merchandise Sales</h3>
                    <div class="d-md-flex">
                        <ul class="list-inline d-flex ms-auto">
                            <li class="ps-3">
                                <h5><i class="fa fa-circle me-1 text-info"></i>Donations</h5>
                            </li>
                            <li class="ps-3">
                                <h5><i class="fa fa-circle me-1 text-inverse"></i>Merchandise</h5>
                            </li>
                        </ul>
                    </div>
                    <div id="ct-visits" style="height: 405px;">
                        <div class="chartist-tooltip" style="top: -17px; left: -12px;">
                            <span class="chartist-tooltip-value">6</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- User Pie Chart -->
        <div style="width: 45%; height: 400px; text-align: left;">
            <div id="userPieChart" style="width: 80%; height: 80%"></div>
            <br />
            <p>
                <button id="reload">Reload</button>
            </p>
        </div>

        <!--Merchandise Sales List-->
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="d-md-flex mb-3">
                        <h3 class="box-title mb-0">Recent merchant sales</h3>
                        <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                            <select class="form-select shadow-none row border-top">
                                <option>March 2021</option>
                                <option>April 2021</option>
                                <option>May 2021</option>
                                <option>June 2021</option>
                                <option>July 2021</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table no-wrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0">#</th>
                                    <th class="border-top-0">Product Name</th>
                                    <th class="border-top-0">Status</th>
                                    <th class="border-top-0">Update Date</th>
                                    <th class="border-top-0">Total Sales</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="txt-oflo">Stop Poverty V1 T-Shirt</td>
                                    <td>ON STOCK</td>
                                    <td class="txt-oflo">April 18, 2021</td>
                                    <td><span class="text-success">$24</span></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="txt-oflo">Stop Poverty V2 T-Shirt</td>
                                    <td>SOLD OUT</td>
                                    <td class="txt-oflo">April 19, 2021</td>
                                    <td><span class="text-info">$1250</span></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td class="txt-oflo">Stop Poverty V1 T-Shirt</td>
                                    <td>SOLD OUT</td>
                                    <td class="txt-oflo">April 19, 2021</td>
                                    <td><span class="text-info">$1250</span></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td class="txt-oflo">Stop Poverty V1 T-Shirt</td>
                                    <td>SOLD OUT</td>
                                    <td class="txt-oflo">April 20, 2021</td>
                                    <td><span class="text-danger">-$24</span></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td class="txt-oflo">Stop Poverty V1 T-Shirt</td>
                                    <td>ON STOCK</td>
                                    <td class="txt-oflo">April 21, 2021</td>
                                    <td><span class="text-success">$24</span></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td class="txt-oflo">Stop Poverty V1 T-Shirt</td>
                                    <td>ON STOCK</td>
                                    <td class="txt-oflo">April 23, 2021</td>
                                    <td><span class="text-danger">-$14</span></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td class="txt-oflo">Stop Poverty V1 T-Shirt</td>
                                    <td>ON STOCK</td>
                                    <td class="txt-oflo">April 22, 2021</td>
                                    <td><span class="text-success">$64</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--Last Login List-->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card white-box p-0">
                <div class="card-heading">
                    <h3 class="box-title mb-0">Last Login List</h3>
                </div>
                <div class="card-body">
                    <ul class="chatonline">
                        <li>
                            <div class="call-chat">
                                <button class="btn btn-success text-white btn-circle btn" type="button">
                                    <i class="fas fa-phone"></i>
                                </button>
                                <button class="btn btn-info btn-circle btn" type="button">
                                    <i class="far fa-comments text-white"></i>
                                </button>
                            </div>
                            <a href="javascript:void(0)" class="d-flex align-items-center">
                                <img src="plugins/images/users/varun.jpg" alt="user-img" class="img-circle">
                                <div class="ms-2">
                                    <span class="text-dark">
                                        Varun Dhavan <small class="d-block text-success d-block">online</small>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="call-chat">
                                <button class="btn btn-success text-white btn-circle btn" type="button">
                                    <i class="fas fa-phone"></i>
                                </button>
                                <button class="btn btn-info btn-circle btn" type="button">
                                    <i class="far fa-comments text-white"></i>
                                </button>
                            </div>
                            <a href="javascript:void(0)" class="d-flex align-items-center">
                                <img src="plugins/images/users/genu.jpg" alt="user-img" class="img-circle">
                                <div class="ms-2">
                                    <span class="text-dark">
                                        Genelia
                                        Deshmukh <small class="d-block text-warning">Away</small>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="call-chat">
                                <button class="btn btn-success text-white btn-circle btn" type="button">
                                    <i class="fas fa-phone"></i>
                                </button>
                                <button class="btn btn-info btn-circle btn" type="button">
                                    <i class="far fa-comments text-white"></i>
                                </button>
                            </div>
                            <a href="javascript:void(0)" class="d-flex align-items-center">
                                <img src="plugins/images/users/ritesh.jpg" alt="user-img" class="img-circle">
                                <div class="ms-2">
                                    <span class="text-dark">
                                        Ritesh
                                        Deshmukh <small class="d-block text-danger">Busy</small>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="call-chat">
                                <button class="btn btn-success text-white btn-circle btn" type="button">
                                    <i class="fas fa-phone"></i>
                                </button>
                                <button class="btn btn-info btn-circle btn" type="button">
                                    <i class="far fa-comments text-white"></i>
                                </button>
                            </div>
                            <a href="javascript:void(0)" class="d-flex align-items-center">
                                <img src="plugins/images/users/arijit.jpg" alt="user-img" class="img-circle">
                                <div class="ms-2">
                                    <span class="text-dark">
                                        Arijit
                                        Sinh <small class="d-block text-muted">Offline</small>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="call-chat">
                                <button class="btn btn-success text-white btn-circle btn" type="button">
                                    <i class="fas fa-phone"></i>
                                </button>
                                <button class="btn btn-info btn-circle btn" type="button">
                                    <i class="far fa-comments text-white"></i>
                                </button>
                            </div>
                            <a href="javascript:void(0)" class="d-flex align-items-center">
                                <img src="plugins/images/users/govinda.jpg" alt="user-img"
                                     class="img-circle">
                                <div class="ms-2">
                                    <span class="text-dark">
                                        Govinda
                                        Star <small class="d-block text-success">online</small>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="call-chat">
                                <button class="btn btn-success text-white btn-circle btn" type="button">
                                    <i class="fas fa-phone"></i>
                                </button>
                                <button class="btn btn-info btn-circle btn" type="button">
                                    <i class="far fa-comments text-white"></i>
                                </button>
                            </div>
                            <a href="javascript:void(0)" class="d-flex align-items-center">
                                <img src="plugins/images/users/hritik.jpg" alt="user-img" class="img-circle">
                                <div class="ms-2">
                                    <span class="text-dark">
                                        John
                                        Abraham<small class="d-block text-success">online</small>
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="plugins/bower_components/chartist/dist/chartist.min.js"></script>
<script src="plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="js/pages/dashboards/dashboard1.js"></script>

@section foot{
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(init);

        let dt, opt, cht;

        function init() {
            dt = new google.visualization.DataTable();
            dt.addColumn('string', 'Role');
            dt.addColumn('number', 'Count');

            opt = {
                title: 'Overall Users Amount by Roles',
                fontName: 'Calibri',
                fontSize: 16,
                titleTextStyle: { fontSize: 20 },
                chartArea: {
                    width: '90%',
                    height: '90%',
                    top: 50,
                    left: 100
                },
                is3D: true,
                color: ['#FF4AE6', '#13E5F2', '#FDFA1E']
            };

            cht = new google.visualization.PieChart($('#userPieChart')[0]);

            $('#reload').first().click();
        }

        $('#reload').click(e => {
            e.preventDefault();
            let url = '/Admin/UsersData';
            let param = {};
            $.getJSON(url, param, json => {
                dt.removeRows(0, dt.getNumberOfRows());
                dt.addRows(json);
                cht.draw(dt, opt);
            });
        });
    </script>
}