
@{
    ViewBag.Title = "Dashboard";
}

<link href="~/Content/eventAdmin.css" rel="stylesheet" />

<head>
    <link href="plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet" href="plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>

<h2>Dashboard</h2>

<div class="container-fluid">
    <!--Number Count Display-->
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total Visitors</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash">
                            <canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto"><span class="counter text-success">100</span></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total Page Views</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash2">
                            <canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto"><span class="counter text-purple">200</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">New Visitor</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash3">
                            <canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto">
                        <span class="counter text-info">300</span>
                    </li>
                </ul>
            </div>
        </div>

     <!--Graph-->
        <div class="row">
           <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
               <div class="white-box">
                        <h3 class="box-title">Donations and Merchandise Sales</h3>

                        <div class="d-md-flex">
                            <ul class="list-inline d-flex ms-auto">
                                <li class="ps-3">
                                    <h5><i class="fa fa-circle me-1 text-info"></i>Donations</h5>
                                </li>
                                <li class="ps-3">
                                    <h5><i class="fa fa-circle me-1 text-inverse"></i>Merchandise</h5>
                                </li>
                            </ul>
                        </div>

                        <div id="ct-visits" style="height: 405px;">
                            <div id="chart" style="width: 400px; height: 300px"></div>
                            <script src="https://www.gstatic.com/charts/loader.js"></script>
                            <script>
                                google.charts.load('current', { packages: ['corechart'] });
                                google.charts.setOnLoadCallback(init);

                                let dt, opt, cht;

                                function init() {
                                    dt = new google.visualization.DataTable();

                                    dt.addColumn('string', 'Status');
                                    dt.addColumn('Id', 'Status');

                                    opt = {
                                        title: '--Mechantdise--',
                                        fontName: 'calibri',
                                        fontSize: 16,
                                        titleTextStyle: { fontSize: 20 },
                                        chartArea: {
                                            width: '90%',
                                            height: '90%',
                                            top: 50,
                                            left: 50
                                        },
                                        // TODO: colors

                                    };

                                    cht = new google.visualization.PieChart($('#chart')[0]);

                                    $('#filter a').first().click();
                                }

                                $('#filter a').click(e => {
                                    e.preventDefault();

                                    // TODO: Set param
                                    let url = '/Home/Dashboard';
                                    let param = { EventId: $(e.target).data('Event-id') };

                                    $.getJSON(url, param, json => {
                                        // TODO: Set title
                                        opt.title = "Donation Count By Event =";
                                        if (param.pId) {
                                            opt.title += param.EventId;
                                        } else {
                                            opt.title += 'All Events';
                                        }

                                        // TODO: Set color
                                        opt.colors = [];
                                        for (let row of json) {
                                            if (row[0] == 'Amount') {
                                                opt.colors.push('red');
                                            } else {
                                                opt.colors.push('blue');
                                            }
                                        }

                                        dt.removeRows(0, dt.getNumberOfRows());
                                        dt.addRows(json);
                                        cht.draw(dt, opt);
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>

            <!--Merchandise Sales List-->
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <div class="d-md-flex mb-3">
                            <h3 class="box-title mb-0">Recent merchant sales</h3>
                            <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                                <select class="form-select shadow-none row border-top">
                                    <option>March 2021</option>
                                    <option>April 2021</option>
                                    <option>May 2021</option>
                                    <option>June 2021</option>
                                    <option>July 2021</option>
                                </select>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table no-wrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">#</th>
                                        <th class="border-top-0">Product Name</th>
                                        <th class="border-top-0">Status</th>
                                        <th class="border-top-0">Update Date</th>
                                        <th class="border-top-0">Total Sales</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td class="txt-oflo">Stop Poverty V1 T-Shirt</td>
                                        <td>ON STOCK</td>
                                        <td class="txt-oflo">April 18, 2021</td>
                                        <td><span class="text-success">$24</span></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td class="txt-oflo">Stop Poverty V2 T-Shirt</td>
                                        <td>SOLD OUT</td>
                                        <td class="txt-oflo">April 19, 2021</td>
                                        <td><span class="text-info">$1250</span></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td class="txt-oflo">Stop Poverty V1 T-Shirt</td>
                                        <td>SOLD OUT</td>
                                        <td class="txt-oflo">April 19, 2021</td>
                                        <td><span class="text-info">$1250</span></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td class="txt-oflo">Stop Poverty V1 T-Shirt</td>
                                        <td>SOLD OUT</td>
                                        <td class="txt-oflo">April 20, 2021</td>
                                        <td><span class="text-danger">-$24</span></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td class="txt-oflo">Stop Poverty V1 T-Shirt</td>
                                        <td>ON STOCK</td>
                                        <td class="txt-oflo">April 21, 2021</td>
                                        <td><span class="text-success">$24</span></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td class="txt-oflo">Stop Poverty V1 T-Shirt</td>
                                        <td>ON STOCK</td>
                                        <td class="txt-oflo">April 23, 2021</td>
                                        <td><span class="text-danger">-$14</span></td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td class="txt-oflo">Stop Poverty V1 T-Shirt</td>
                                        <td>ON STOCK</td>
                                        <td class="txt-oflo">April 22, 2021</td>
                                        <td><span class="text-success">$64</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--Covid-19 Tracker-->
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card white-box p-0">
                    <h2>Covid-19 cases in <span id="country"></span><img src="" 
                     id="Flag"/></h2>
                    <div class="board">
                        <div class="card a"><i class="fa fa-tachometer"></i><h5>Active Cases</h5><span id="active"></span></div>
                        <div class="card ca"><i class="fa fa-th-list"></i><h5>Total Cases</h5><span id="cases"></span></div>
                        <div class="card cr"><i class="fa fa-times-circle"></i><h5>Critical Cases</h5><span id="critical"></span></div>
                        <div class="card d"><i class="fa fa-times"></i><h5>Total Deaths</h5><span id="death"></span></div>
                        <div class="card r"><i class="fa fa-check-square-o"></i><h5>Recovered Cases</h5><span id="recovered"></span></div>
                        <div class="card t"><i class="fa fa-eye"></i><h5>Total Testes Done</h5><span id="tests"></span></div>
                    </div>
                </div>
            </div>
     </div>
     
    <!--Covid-19 api-->
    <script type="text/javascript">

        fetch('https://corona.lmao.ninja/v2/countries/Malaysia')
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                console.log(data);
                document.getElementById("country").innerHTML = data.country;
                document.getElementById("active").innerHTML = data.active.toLocaleString();
                document.getElementById("cases").innerHTML = data.cases.toLocaleString();
                document.getElementById("critical").innerHTML = data.critical.toLocaleString();
                document.getElementById("death").innerHTML = data.deaths.toLocaleString();
                document.getElementById("recovered").innerHTML = data.recovered.toLocaleString();
                document.getElementById("tests").innerHTML = data.tests.toLocaleString();
                document.getElementById("flag").src = data.countryInfo.flag;
            });
    </script>
</div>
<script src="plugins/bower_components/chartist/dist/chartist.min.js"></script>
<script src="plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="js/pages/dashboards/dashboard1.js"></script>

