@{
    ViewBag.Title = "Event";
}

<!DOCTYPE html>
<link href="~/Content/eventAdmin.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Event</title>
</head>

<body>
    <div class="row">

        <div class="column">
            <div class="card">
                <div class="card-body">
                    <h4>Charity Event</h4>
                    <h4 class="card-title">48H Food-Fund</h4>
                    <button type="button" class="edit-btn">Edit</button>
                    <button type="button" class="delete-btn">Delete</button>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="card-body">
                    <h4>Fundation Charity</h4>
                    <h4 class="card-title">Donate 4 Supplies</h4>
                    <button type="button" class="edit-btn">Edit</button>
                    <button type="button" class="delete-btn">Delete</button>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="card-body">
                    <h4>Charity Run</h4>
                    <h4 class="card-title">Run for Wealth</h4>
                    <button type="button" class="edit-btn">Edit</button>
                    <button type="button" class="delete-btn">Delete</button>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="card-body">
                    <h4>Charity Event</h4>
                    <h4 class="card-title">Gold Fortune Sharing</h4>
                    <button type="button" class="edit-btn">Edit</button>
                    <button type="button" class="delete-btn">Delete</button>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="card-body">
                    <h4>Fundation Charity</h4>
                    <h4 class="card-title">Name For The Wealth</h4>
                    <button type="button" class="edit-btn">Edit</button>
                    <button type="button" class="delete-btn">Delete</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>