@{
    ViewBag.Title = "Admin Merchandise";
}

<!DOCTYPE html>
<link href="~/Content/merchandiseAdmin.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Merchandise</title>
</head>
<body>
    <div class="row">

        <div class="column">
            <div class="card">
                <img src="~/Images/Merchandise/shirt1.jpg" />
                <div class="card-body">
                    <h4>RM 50.00</h4>
                    <h4 class="card-title">Stop Poverty V1 T-Shirt</h4>
                    <button type="button" class="edit-btn">Edit</button>
                    <button type="button" class="delete-btn">Delete</button>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/Images/Merchandise/shirt1.jpg" />
                <div class="card-body">
                    <h4>RM 50.00</h4>
                    <h4 class="card-title">Stop Poverty V1 T-Shirt</h4>
                    <button type="button" class="edit-btn">Edit</button>
                    <button type="button" class="delete-btn">Delete</button>
                </div>
            </div>
        </div>


        <div class="column">
            <div class="card">
                <img src="~/Images/Merchandise/shirt1.jpg" />
                <div class="card-body">
                    <h4>RM 50.00</h4>
                    <h4 class="card-title">Stop Poverty V1 T-Shirt</h4>
                    <button type="button" class="edit-btn">Edit</button>
                    <button type="button" class="delete-btn">Delete</button>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/Images/Merchandise/shirt1.jpg" />
                <div class="card-body">
                    <h4>RM 50.00</h4>
                    <h4 class="card-title">Stop Poverty V1 T-Shirt</h4>
                    <button type="button" class="edit-btn">Edit</button>
                    <button type="button" class="delete-btn">Delete</button>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/Images/Merchandise/shirt1.jpg" />
                <div class="card-body">
                    <h4>RM 50.00</h4>
                    <h4 class="card-title">Stop Poverty V1 T-Shirt</h4>
                    <button type="button" class="edit-btn">Edit</button>
                    <button type="button" class="delete-btn">Delete</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
