@model IEnumerable<Fundtasia.Models.User>

@{
    ViewBag.Title = "Client User";
    ViewBag.SearchPlaceholder = "First Name";
}

@section head{
    <link href="~/Content/UserList.css" rel="stylesheet" />
}
<div id="target">
    @Html.Partial("_ClientUser")
</div>

@section foot{
    <script>
        let timer = null;
        $('#keyword').on('input', e => {
            clearTimeout(timer);
            timer = setTimeout(() => $(e.target).submit(), 500);
        });

        function highlight() {
            let keyword = $('#keyword').val().trim();

            if (!keyword) return;

            let re = new RegExp(escapeRegExp(keyword), 'gi');

            $('td:nth-child(1)').each((i, el) => {
                let html = $(el).html().replace(re, '<mark style="background-color: #ffb5ae;">$&</mark>');
                $(el).html(html);
            });
        }
    </script>
}