@{
    ViewBag.Title = "Admin Donation";

}

<!DOCTYPE html>
<link href="~/Content/donationAdmin.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Donation</title>
</head>
<body>
    <div id="target">
        @Html.Partial("_DonationPartial")
    </div>
</body>

</html>
