@{
    ViewBag.Title = "Admin Merchandise";

}

<!DOCTYPE html>
<link href="~/Content/merchandiseAdmin.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Merchandise</title>
</head>
<body>
    <div class="target">
        @Html.Partial("_MerchandisePartial");
    </div>
</body>
</html>
