@{
    ViewBag.Title = "Admin Merchandise";

    string[] fields = { "Id", "Name", "Price" };
    string sort = Request.Params["sort"];
    string sortdir = Request.Params["sortdir"];
}

<!DOCTYPE html>
<link href="~/Content/merchandiseAdmin.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Merchandise</title>
</head>
<body>
    <div class="target">
        <h4><b>Sort By: </b></h4>

        @foreach (var f in fields)
        {
            string d = "ASC";
            string c = "";

            if (f == sort)
            {
                d = sortdir == "DESC" ? "ASC" : "DESC";
                c = sortdir;
            }

            <a href="?sort=@f&sortdir=@d"><button class="create-btn"> @f </button></a>
        }

        <div class="container">
            <div class="row">
                @foreach (var m in Model)
                {
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card text-center">
                            <img src="~/Images/Uploads/Merchandise/@m.Image" />
                            <div class="card-body">
                                <h4 style="color: #9B0909">RM @m.Price.00</h4>
                                <h4 class="card-title" style="min-height:50px;">@m.Name</h4>
                                <button type="button" class="edit-btn" data-get="/AEdit/EditMerchandise/@m.Id">Edit</button>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</body>
</html>
