@{
    ViewBag.Title = "Admin Merchandise";

    string[] fields = { "Id", "Name", "Price" };
    string sort = Request.Params["sort"];
    string sortdir = Request.Params["sortdir"];
}

<!DOCTYPE html>
<link href="~/Content/merchandiseAdmin.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Merchandise</title>
</head>
<body>
    <button type="button" class="create-btn">+ Add New Product</button>

    <div class="container">
        <div class="row">

            <button class="donate-submit">
                @foreach (var f in fields)
                {
                    string d = "ASC";
                    string c = "";

                    if (f == sort)
                    {
                        d = sortdir == "DESC" ? "ASC" : "DESC";
                        c = sortdir;
                    }

                    <a href="?sort=@f&sortdir=@d" class="@c">@f</a>
                }
            </button>

            @foreach (var m in Model)
            {
                <div class="col-md-3 col-sm-11">
                    <div class="card text-center">
                        <img src="~/Images/Merchandise/@m.Image" />
                        <div class="card-body">
                            <h4 style="color: #9B0909">RM @m.Price.00</h4>
                            <h4 class="card-title" style="min-height:50px;">@m.Name</h4>
                            <button type="button" class="edit-btn" data-get="/AEdit/EditMerchandise/@m.Id">Edit</button>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</body>
</html>
